/* 
    Document   : frontsystem_popup
    Created on : Jan 12, 2012, 5:36:21 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background: none;
}

